@import './reset.css';

:root {
  /* colors */
  --aka-color-white: #ffffff;
  --aka-color-black: #000000;
  --colors: (
    primary: #409eff,
    success: #67c23a,
    warning: #e6a23c,
    danger: #f56c6c,
    info: #909399
  );
  --aka-bg-color: #ffffff;
  --aka-bg-color-page: #f2f3f5;
  --aka-bg-color-overlay: #ffffff;
  --aka-text-color-primary: #303133;
  --aka-text-color-regular: #606266;
  --aka-text-color-secondary: #909399;
  --aka-text-color-placeholder: #a8abb2;
  --aka-text-color-disabled: #c0c4cc;
  --aka-border-color: #dcdfe6;
  --aka-border-color-light: #e4e7ed;
  --aka-border-color-lighter: #ebeef5;
  --aka-border-color-extra-light: #f2f6fc;
  --aka-border-color-dark: #d4d7de;
  --aka-border-color-darker: #cdd0d6;
  --aka-fill-color: #f0f2f5;
  --aka-fill-color-light: #f5f7fa;
  --aka-fill-color-lighter: #fafafa;
  --aka-fill-color-extra-light: #fafcff;
  --aka-fill-color-dark: #ebedf0;
  --aka-fill-color-darker: #e6e8eb;
  --aka-fill-color-blank: #ffffff;

  @each $val, $color in var(--colors) {
    --aka-color-$(val): $(color);
    @for $i from 3 to 9 {
      --aka-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --aka-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }

  /* border */
  --aka-border-width: 1px;
  --aka-border-style: solid;
  --aka-border-color-hover: var(--aka-text-color-disabled);
  --aka-border: var(--aka-border-width) var(--aka-border-style)
    var(--aka-border-color);
  --aka-border-radius-base: 4px;
  --aka-border-radius-small: 2px;
  --aka-border-radius-round: 20px;
  --aka-border-radius-circle: 100%;

  /*font*/
  --aka-font-size-extra-large: 20px;
  --aka-font-size-large: 18px;
  --aka-font-size-medium: 16px;
  --aka-font-size-base: 14px;
  --aka-font-size-small: 13px;
  --aka-font-size-extra-small: 12px;
  --aka-font-family:
    'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --aka-font-weight-primary: 500;

  /*disabled*/
  --aka-disabled-bg-color: var(--aka-fill-color-light);
  --aka-disabled-text-color: var(--aka-text-color-placeholder);
  --aka-disabled-border-color: var(--aka-border-color-light);

  /*animation*/
  --aka-transition-duration: 0.4s;
  --aka-transition-duration-fast: 0.2s;
}
