.aka-icon {
  --aka-icon-color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  fill: currentColor;
  color: var(--aka-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .aka-icon--$(val) {
    --aka-icon-color: var(--aka-color-$(val));
  }
}
